<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- ASP.NET Web API -->
  <package id="Microsoft.AspNet.WebApi.Core" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Cors" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.3.0" targetFramework="net48" />

  <!-- OWIN -->
  <package id="Owin" version="1.0" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Host.SystemWeb" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Security" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.Jwt" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Owin.Security.OAuth" version="4.2.2" targetFramework="net48" />

  <!-- JWT -->
  <package id="System.IdentityModel.Tokens.Jwt" version="6.32.3" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.32.3" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="6.32.3" targetFramework="net48" />

  <!-- Entity Framework -->
  <package id="EntityFramework" version="6.4.4" targetFramework="net48" />

  <!-- MongoDB -->
  <package id="MongoDB.Driver" version="2.21.0" targetFramework="net48" />
  <package id="MongoDB.Bson" version="2.21.0" targetFramework="net48" />
  <package id="MongoDB.Driver.Core" version="2.21.0" targetFramework="net48" />

  <!-- Redis -->
  <package id="StackExchange.Redis" version="2.6.122" targetFramework="net48" />

  <!-- RabbitMQ -->
  <package id="RabbitMQ.Client" version="6.5.0" targetFramework="net48" />

  <!-- Autofac -->
  <package id="Autofac" version="7.1.0" targetFramework="net48" />
  <package id="Autofac.WebApi2" version="7.1.0" targetFramework="net48" />

  <!-- Serilog -->
  <package id="Serilog" version="3.0.1" targetFramework="net48" />
  <package id="Serilog.Sinks.Console" version="4.1.0" targetFramework="net48" />
  <package id="Serilog.Sinks.File" version="5.0.0" targetFramework="net48" />
  <package id="Serilog.Extensions.Logging" version="7.0.0" targetFramework="net48" />

  <!-- FluentValidation -->
  <package id="FluentValidation" version="11.8.0" targetFramework="net48" />
  <package id="FluentValidation.WebApi" version="5.6.2" targetFramework="net48" />

  <!-- AutoMapper -->
  <package id="AutoMapper" version="12.0.1" targetFramework="net48" />

  <!-- Hangfire -->
  <package id="Hangfire.Core" version="1.8.6" targetFramework="net48" />
  <package id="Hangfire.SqlServer" version="1.8.6" targetFramework="net48" />
  <package id="Hangfire.AspNet" version="1.8.6" targetFramework="net48" />

  <!-- Swagger -->
  <package id="Swashbuckle.Core" version="5.6.0" targetFramework="net48" />

  <!-- JSON -->
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />

  <!-- Testing -->
  <package id="xunit" version="2.6.1" targetFramework="net48" />
  <package id="xunit.runner.visualstudio" version="2.5.3" targetFramework="net48" />
  <package id="Moq" version="4.20.69" targetFramework="net48" />
  <package id="FluentAssertions" version="6.12.0" targetFramework="net48" />
</packages>
